

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


span.label a {
	color:#fff;
}

.pageheader a {
	font-family: 'Borda', Helvetica, Arial, Sans-Serif;
	font-size: 30px;
	margin-top: 20px;
	color: #B3FF00;
}

p {
	font-family: 'Nexa Black', Helvetica, Arial, Sans-Serif;
	font-size: 40px;
	line-height: 40px;
	margin-top: 40px;
	color: #FFFFFF;
}

.about a {
	font-size: 15px;
}

.pageMessage {
	font-family: 'Nexa Black', Helvetica, Arial, Sans-Serif;
	font-size: 120px;
	line-height: 120px;
	margin-top: 20px;
	color: #FFFFFF;
}

#instructions {
	font-family: 'Nexa Black', Helvetica, Arial, Sans-Serif;
	font-size: 53px;
	line-height: 53px;
	margin-top: 10px;
	color: #FFFFFF;
}

#shareRow {
	font-family: 'Nexa Black', Helvetica, Arial, Sans-Serif;
	font-size: 53px;
	line-height: 53px;
	margin-top: 250px;
	margin-bottom: 250px;
	color: #FFFFFF;
}

#buttonrow {
	margin-bottom: 100px;
}

input[type="text"] {
	font-family: 'Nexa Regular', Helvetica, Arial, Sans-Serif;
	font-size: 28px;
	width: 860px;
	height: 65px;
	text-align: center;
	padding-top: 8px;
}

footer a {
	font-family: 'Nexa Regular', Helvetica, Arial, Sans-Serif;
	font-size: 18px;
	line-height: 20px;
	color: #B3FF00;
}

footer {
	font-family: 'Nexa Regular', Helvetica, Arial, Sans-Serif;
	font-size: 18px;
	line-height: 20px;
	color: #B3FF00;
}

.button {
   border-top: 1px solid #4b5154;
   background: #9ea3a6;
   padding: 20px 40px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 24px;
   font-family: 'Nexa Regular', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #b3ff00;
   background: #b3ff00;
   color: #000000;
   }
.button:active {
   border-top-color: #d9ff80;
   background: #d9ff80;
   }













