{% from "_form_helpers.html" import render_error, render_textarea %}
{% extends "layout/main.html" %}


{% block body %}

        <!-- Popcorn: -->
        <script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
        <script>


        document.addEventListener("DOMContentLoaded", function () {
            var reactVid = Popcorn.youtube(
               '#reactVid',
               'http://www.youtube.com/embed/{{ vid_id }}?showinfo=0' );
            var snapped = false;
            function vidCheck() {
                if( (reactVid.roundTime() == {{ reaction_time }}) && (snapped == false)) {
                    take_snapshot();
                    snapped = true;
                    $('#reactPrompt').show();
					$('html, body').animate({ 
   						scrollTop: $(document).height()-$(window).height()}, 
   						1400, 
   						"easeOutQuint"
					);
            }
        	}
        	var t = setInterval(vidCheck,1000);
    });

        </script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/webcam.js') }}"></script>
    	<!-- Configure a few settings -->
    	<script language="JavaScript">
        	webcam.set_api_url( 'http://chas.mattrichardson.net/vidReactions/test.php?id={{ share_id }}' );
        	webcam.set_quality( 90 ); // JPEG quality (1 - 100)
        	webcam.set_shutter_sound( false ); // play shutter click sound
    	</script>
    	
<!-- Welcome message -->
<div class="row" style="margin-top: 50px">
	<div class="span12">
		<h1 class="pageMessage">
			Your friend wants to see your reaction to a video!
		</h1>
		<h1 class="pageMessage" id="down1">
			&darr;
		</h1>
	</div>
</div>

<div class="row" id="sep1" style="height: 700px; display: none;"></div>

<!-- Webcam  -->
<div class="row" id="webcam" style="display: none; padding-bottom: 10px;">
	<div class="span12">
		<h1 class="videoMessage">
			Click allow and check your hair!
		</h1>
		<script language="JavaScript">
			document.write( webcam.get_html(960, 540) );
			webcam.set_hook( 'onComplete', 'my_completion_handler' );
			webcam.set_hook( 'onLoad', 'my_load_handler' );
			function my_load_handler() {
			}

			function take_snapshot() {
				webcam.snap();
			}

			function my_delayed_completion_handler(msg) {
				$.post("/addreaction", { share_id: '{{ share_id }}', file: msg } );
			}
			
			function my_completion_handler(msg) {
				// extract URL out of PHP output
				if (msg.match(/(http\:\/\/\S+)/)) {
					var image_url = RegExp.$1;
					setTimeout(my_delayed_completion_handler(image_url), 3000);
					$("#reactimg").attr("src",msg);
				}
				else alert("PHP Error: " + msg);
			}
			</script>
		<h1 class="pageMessage" id="down2">
			&darr;
		</h1>
	</div>
</div>

<div class="row" id="sep2" style="height: 700px; display: none;"></div>

<!-- video -->
<div class="row" id="video" style="display: none;">
	<div class="span12">
		<h1 class="videoMessage">
			Now you're ready to watch!
		</h1>
		<div id="reactVid" style="width: 960px; height: 540px; z-index: -1; margin-bottom: 40px;"></div>
	</div>
</div>
<div class="row" id="reactPrompt" style="display: none;">
	<h1 class="videoMessage" id="down3">
		See how you reacted! &darr;
	</h1>
</div>

<div class="row" id="sep3" style="height: 700px; display: none;"></div>

<!-- reaction -->
<div class="row" id="reaction" style="display: none;">
	<div class="span12">
		<h1 class="videoMessage">
			Here's how you reacted!
		</h1>
		<img src="" id="reactimg" class="img-polaroid">
		<h1 class="videoMessage" id="down4">
			See others reactions! &darr;
		</h1>
	</div>
</div>

<div class="row" id="sep4" style="height: 700px; display: none;"></div>

<div class="row" id="reactions" style="display: none;">
	{% if reactions %}
	<div class="span12">
		{% for reaction in reactions %}
			<img src="{{reaction.fileID}}" height="576" width="216" style="margin-top:10px;" class="img-polaroid">
		{% endfor %}
	</div>
	{% endif %}
</div>

<div class="row" style="display: none; padding-bottom: 20px;">
	<p> Share with your friends on <img src="{{ url_for('static', filename='img/Tblue.png') }}" onmouseover="this.src='{{ url_for('static', filename='img/Tgrey.png') }}'" onmouseout="this.src='{{ url_for('static', filename='img/Tblue.png') }}'"/> or <img src="{{ url_for('static', filename='img/FBblue.png') }}" onmouseover="this.src='{{ url_for('static', filename='img/FBgrey.png') }}'"onmouseout="this.src='{{ url_for('static', filename='img/FBblue.png') }}'"/>, or copy the link below:</p>
    <input type="text" value="http://www.freezefram.es/s/{{ share_id }}"></input>
</div>

	<script>
		$('#showReactions').click(function(event) {
			$('#reactions').show('slow');
			$('#showReactions').html("");
		});
		$('#down1').click(function(event){
			$('#sep1').show();
			$("#webcam").show();
			$('html, body').animate({ 
   				scrollTop: $(document).height()-$(window).height()}, 
   				1400, 
   				"easeOutQuint"
			);
		});
		$('#down2').click(function(event){
			$('#sep2').show();
			$("#video").show();
			$('html, body').animate({ 
   				scrollTop: $(document).height()-$(window).height()}, 
   				1400, 
   				"easeOutQuint"
			);
		});
		$('#down3').click(function(event){
			$('#sep3').show();
			$("#reaction").show();
			$('html, body').animate({ 
   				scrollTop: $(document).height()-$(window).height()}, 
   				1400, 
   				"easeOutQuint"
			);
		});

		$('#down4').click(function(event){
			$('#sep4').show();
			$("#reactions").show();
			$('html, body').animate({ 
   				scrollTop: $(document).height()-$(window).height()}, 
   				1400, 
   				"easeOutQuint"
			);
		});
	</script>
{% endblock %}
{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}