{% from "_form_helpers.html" import render_error, render_textarea %}
{% extends "layout/main.html" %}


{% block body %}

        <!-- Popcorn: -->
        <script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
        <script>


        document.addEventListener("DOMContentLoaded", function () {
            var reactVid = Popcorn.youtube(
               '#reactVid',
               'http://www.youtube.com/embed/{{ vid_id }}?showinfo=0' );
            var snapped = false;
            function vidCheck() {
                if( (reactVid.roundTime() == {{ reaction_time }}) && (snapped == false)) {
                    take_snapshot();
                    snapped = true;
                    $('#reaction-cue').show();
                }
            }
            var t = setInterval(vidCheck,1000);
        });

        </script>

<div class="row">

	<!-- left column -->
	<div class="span5">
		<!-- Webcam: -->

    	<script type="text/javascript" src="{{ url_for('static', filename='js/webcam.js') }}"></script>
    	<!-- Configure a few settings -->
    	<script language="JavaScript">
        	webcam.set_api_url( 'http://chas.mattrichardson.net/vidReactions/test.php?id={{ share_id }}' );
        	webcam.set_quality( 90 ); // JPEG quality (1 - 100)
        	webcam.set_shutter_sound( false ); // play shutter click sound
    	</script>
    	


    	<p>Before playing the video, click "Allow" below:</p>

		<script language="JavaScript">

		document.write( webcam.get_html(320, 240) );

		webcam.set_hook( 'onComplete', 'my_completion_handler' );

		webcam.set_hook( 'onLoad', 'my_load_handler' );
		
		function my_load_handler() {

		}

		function take_snapshot() {
			webcam.snap();
		}

		function my_delayed_completion_handler(msg) {
			$.post("/addreaction", { share_id: '{{ share_id }}', file: msg } );
		}
		
		function my_completion_handler(msg) {
			// extract URL out of PHP output
			if (msg.match(/(http\:\/\/\S+)/)) {
				var image_url = RegExp.$1;
				setTimeout(my_delayed_completion_handler(image_url), 3000);
				//webcam.reset();
			}
			else alert("PHP Error: " + msg);
		}
		</script>
		<div id="reaction-cue" style="display:none;"><p>That's how you reacted!</p></div>
	</div>

	<div class="span7">

			<div id="reactVid" style="width: 540px; height: 350px; z-index: -1;"></div>

	</div>
</div>
<div class="row">
		<p> Share this URL with your friends to capture their reaction:</p>
    	<input type="text" value="http://www.freezefram.es/s/{{ share_id }}"></input>
</div>

<div>
	{% if reactions %}
	<p><a href="#" id="showReactions">Show Reactions</a></p>
	<div id="reactions" style="display: none;">
		{% for reaction in reactions %}
			<img src="{{reaction.fileID}}" height="160" width="120" style="margin-top:10px;">
		{% endfor %}
	</div>
	{% endif %}
</div>

	<script>
		$('#showReactions').click(function(event) {
		      $('#reactions').show('slow');
		      $('#showReactions').html("");
		});
	</script>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}