{% from "_form_helpers.html" import render_error, render_textarea %}
{% extends "layout/main.html" %}


{% block body %}
<script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
<script language="JavaScript">

var newVid;

// Disable enter key for form submission:
$(function() {
	$("form").bind("keypress", function(e) {
		if (e.keyCode == 13) return false;
	});
});

// This function returns the YouTube video ID from a YouTube URL.
// If it's not a YouTube URL, it returns null.
// To Do: Handle youtu.be URLS
function getVideoId(url){
	if(url.indexOf('?') === -1)
		return null;
	var query = decodeURI(url).split('?')[1];
	var params = query.split('&');      
	for(var i=0,l = params.length;i<l;i++)
		if(params[i].indexOf('v=') === 0)
		{
			return params[i].replace('v=','');
		}         
	return null;
}

// This function checks the URL box and activates the page to change
// as soon as a valid YouTube URL is entered:
function youTubeChecker() {
	url = document.getElementById('url').value; // get the velue of the text box
	if (getVideoId(url) != null) { // if it's a YouTube URL:
		clearInterval(t); // stop running this function repeatedly
		$('#youtuber').hide(); // hide the entry box
		$('#newVid').show(); // show the embedded video container div
		document.forms['add'].id.value = getVideoId(url); // update the hidden field in the form with the youtube ID
		document.getElementById("submit").disabled=false; // activate the submit button... not really needed anymore, but hey.
		newVid = Popcorn.youtube('#newVid', 'http://www.youtube.com/embed/' + getVideoId(url) + '?showinfo=0' ); // Pull up the video
		var c=setInterval(timeUpdater,500); // start running the time update function
		$('#timer').show(); // show the time div
		$('#submit').show(); // show the submit button
	}
	else {
		//document.getElementById("submit").disabled=true;
		//not really needed anymore since the submit box goes away after entry. keeping it for now.
	}
}

function timeUpdater() {
	document.forms['add'].time.value = newVid.roundTime(); // Update the form's hidden field.
	$('#timer').html('<input type="submit" class="btn btn-primary" value="Take picture of my friends at ' + newVid.roundTime() + ' seconds." class="btn" id="submit">') //update the page display
}

var t=setInterval(youTubeChecker,500); // run the YouTube checker function 2x a second

</script>

<div class="row">
	<div class="span12">
		<form action="add" method="post" name="add">
			<div id="youtuber"><h1 style="font-size: 130px; line-height: 100px;">See how your friends react to a video:</h1>
			<input type="text" id="url" name="url" placeholder="Paste a YouTube URL here." style="height: 60px; width: 100%; text-align:center; font-size: 20px; margin-top: 10px;"><br /></div>
			<input type="hidden" name="id" value="">
			<input type="hidden" name="time" value="">
			<div id="newVid" style="width: 100%; height: 550px; display: none;"></div>
			<br />
			<div id="timer" style="display: none; text-align: center;"><h2>Take picture of my friends at seconds.</h2>
			<input type="submit" value="Get Link" class="btn" id="submit">
			</div>
		</form>
	</div>



</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}