<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>freeze frames</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        {% if vid_id %}
        <meta name="og:description" content="How will you react to this video?">
        <meta property="og:image" content="http://img.youtube.com/vi/{{ vid_id }}/hqdefault.jpg"/>
        <meta property="og:title" content="freeze frames"/>
        {% endif %}

        <!-- Get Font from Google http://www.google.com/webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
        
        <!-- installed webfonts -->
		<link rel="stylesheet" href="/static/css/webfonts/borda.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="/static/css/webfonts/nexa-regular.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="/static/css/webfonts/nexa-black.css" type="text/css" charset="utf-8" />
		<!--JQuery-->
         <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        {% block styles %}{% endblock %}

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <div class="container">
			<h2 class="pageheader">
                <a href="/">freezefram.es</a>
            </h2>
            <h1 class="pageMessage">
                Capture your friends' reactions.
            </h1>

            {% block body %}{% endblock %}

            <footer>
                <h3><a href="/">Share</a> | <a href="about">About</a>
               </h3>
            </footer>

        </div> <!-- /container -->

       
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"><\/script>')</script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        
        {% block scripts %}{% endblock %}

    </body>
</html>
